body {
    font-family: Arial, sans-serif;
    background-image: url("https://images.pexels.com/photos/1262304/pexels-photo-1262304.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.column {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    height: 400px;
    overflow-y: auto;
}

.task {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    cursor: pointer;
}

.task.completed {
    text-decoration: line-through;
    background-color: #ddd;
}
